datasets>=4.4.1
ipykernel>=6.31.0
joblib>=1.5.2
huggingface_hub>=0.34.4
matplotlib>=3.10.8
numpy>=2.3.5
openai>=2.26.0
pandas>=2.3.3
python>=3.12.13
scikit-learn>=1.7.2
scipy>=1.16.3
seaborn>=0.13.2
sentence-transformers>=5.1.2
tensorflow>=2.18.0
tokenizers>=0.22.1
torch>=2.3.1
protobuf>=5.28.3



